@media screen and (max-width: 750px) {
    iframe {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    iframe {
        max-width: 50%;
        width: auto;
        height: auto;
    }
}